@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/*global styling*/
.button {
    background-color: #C20502;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto;
    padding: 20px 40px;
  }

  h1{
    font-family: 'Roboto slab';
    font-size: 49px;  
    color:#292733;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 49px;
    line-height: 105.5%;
    }

  h2{
    font-family: 'Roboto Slab', serif;
    font-size: 49px;
    text-align: center;
    color: white;
    
    }

  h3{
    color: #F1F3F4;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
 }

 h4{
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
    padding-right: 20px;
}

h5{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #888888;
}

h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #888888;
}

p{
    text-align: center;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/*global styling*/

/*hero banner*/

header{
    background-color: #292733; 
}
.container-nav-list{
    display: flex;
    background-color: #292733;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-list{
    padding-bottom:20px ;
}
.nav-list-container{
    display: inline-block;
    width: 90%;
    text-align: end;
}

.nav-icons{
    padding-top: 15px;
}
.nav-menu{
    display: flex;
    background-color: #292733;
    padding-top: 10PX;
    position: relative;
    width: 100%;
    overflow: auto;
    align-items: center;
   
}
.nav-list__item{
   padding: 10px 10px;
    color: white;
    font-family: 'poppins';
    font-weight: 500;
  
   
}
.nav-list__copy{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-list__icon{
    display: flex;
    padding: 10px 0px;
    color: white;
    padding-left: 20px;
}
li{
    list-style: none;
}


.banner{
    width: 1440px;
    height: 741px;
}

.bdy-banner{
    background-image: url("pictures/banner.png");
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 100% 100%;
    display: flex;
}


.bdy-banner__pro{
    text-align: right;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
   
}

.p--banner{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #292733;
    padding-top: 20px;
}


/*Section 2*/
*{
    margin: 0px;
    padding: 0px;
}
.icon-text-container{
    padding-top: 20px;
    color:white;
    font-size: 20px;
    text-align: center;
  }

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#C20502 ;
    padding: 50px;
    height: 300px;
}


.icon-wrapper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon-wrapper__card {
    display: inline-block;
    text-align: center;
}



/* Decker Section*/


.decking-wrapper {
    width: 100%;
    height: 501px;
    display: flex;
}

.decking-wrapper__first{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pictures/deckercol1.png");
    background-size: cover;
}

.icon-decker{
    width: 100%;
}


.decking-wrapper__second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pictures/deckercol2.png");
    width: 60%;
    background-size: cover;
}


.decking-wrapper__first__col2__button{
    text-align: center;
    padding: 30px; 
}

/* Decker Section*/


/*quality section*/
.quality-section{
    background-image: url("pictures/section3.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top:100px;
    padding-bottom:100px;
}
.quality-section__wrapper{
    max-width: 1200px;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.quality-section__wrapper-button{
    text-align: center;
    padding: 30px;
}

.button--learn{
    background-color: white;
    border: none;
    color: #C20502;;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto;
    padding: 20px 40px;
}


/*quality section*/



.timber-wrapper {
    width: 100%;
    height: 501px;
    display: flex;
}

.timber-wrapper__first{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-size: cover;
}

.timber-decker{
    width: 650px;
    height: auto;
  
}

.timber-wrapper__first__col1__icon{
    width: 60%;
    padding-top: 200px;
}
.timber-wrapper-seccol{
    width: 40%;
}
.timber-wrapper__second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F1F3F4;
    width: 40%;
    background-size: cover;
    
}


.timber-wrapper__first__col2__button{
    text-align: center;
    padding: 30px; 
}

.button--timber{
    background-color: white;
    border: none;
    color: #C20502;;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto;
}

.timber-wrapper__first__seccol__button{
    padding-top: 20px;
}
.h3--timber{
    color: #F1F3F4;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: left;
    padding-right: 200px;
    
}

.h3--timbersec{
    color: #292733;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.h4--timbersec {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #292733;

}

.icon-timber{
    margin-left: auto;
    margin-right: auto;
}

.timber-wrapper__first__col2 {
    display: flex;
    flex-direction: column;
  }

/*timber section*/

/*timber products section*/

.timber-products{
    max-width: 1200px;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20vh;
    width: 100%;
}

.timber-products__wrapper{
    display: flex;
    
}


.timber-products__wrapper__card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timber-products__wrapper__card2{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}


.timber-products__wrapper__card__pic{
}
.p--timber-products{
    width: 260px;
    height: 54px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: #292733;
}
.h2--timber-products{
    color: #292733;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;   
}


span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;

color: #C20502;
}
/*timber products section*/

/*timber-dealers*/
.timber-dealers{
    display: flex;
    max-width: 1200px;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20vh;
    width: 100%;
    min-height: 590px;
}
.timber-dealers__col1{
    width: 50%;
    background-image: url("pictures/timberdeal.png");
    background-size: cover;
    height: auto;
}

.timber-dealers__col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    background-color: red;
    min-height: 590px;
}

.h3--timber{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    width: 100%; 
}

.timber-dealer__col2-content{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    padding-left: 90px;
    padding-right: 20px;
}

.button--timbers{
    display: inline-block;
    background-color: white;
    border: none;
    color: #C20502;;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px 40px; 
}

.button-timbers-wrap{
    padding-top: 30px;
}

/*timber-dealers*/

/*Shop now section*/

.timber-sale{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 590px;
    margin-top: 10vh;
}

.timber-sale-wrap{
    
}
.timber-sale__col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("pictures/sales1.png");
    width: 50%;
    min-height: 590px;
    background-size: cover;
}

.timber-sale__col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("pictures/sales2.png");
    width: 50%;
    min-height: 590px;
    background-size: cover;
}



.h3--sales{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    width: 100%; 
}

.timber-sale__col1-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 50px;
  
}

.button--sale{
    display: inline-block;
    background-color: white;
    border: none;
    color: #C20502;;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 40px; 
}

.button-sale-wrap{
    padding-top: 30px;
    text-align: left;
}

.h5--sale{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #FFFFFF;

}

/*Shop now section*/

/* feature product*/
.h2--timber-prod{
    color: white;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;   
}

.prod-section{
    background-image: url("pictures/prod.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top:100px;
    padding-bottom:100px;
}
.prod-section__wrapper{
    max-width: 1200px;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.prod-section__wrapper-button{
    text-align: center;
    padding: 30px;
}

.button--prod{
    background-color: white;
    border: none;
    color: #C20502;;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto auto;
    padding: 20px 40px;
}

.h5--qual{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* feature product*/

/* pagination */

.direction-sec{
    display: flex;
    width: 100%;
    margin-top: 50px ;
}

.direction-sec-fwrap{
    width: 33.33%;
}

.direction-sec-lwrap{
    width: 33.33%;
}

.direction-sec-wrap{
    width: 33.33%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    align-content: stretch;
    justify-content: center;
}
.box1{
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .box3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C20502;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 .box4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C20502;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 .box5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C20502;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 .box6{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color:#C20502 ;
 }
 .box7{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C20502;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .box8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 .box9{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0px 10px 10px 0px;
 }
/* pagination */

/*news section*/
.news-section{
    margin-top: 20vh;
    width: 100%;
    min-height:560px;
    background-color: #C20502;
}



.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    padding: 24px;
    outline: none;
    width: 80%;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .news-section__content{
    text-align: center;
  }

  .news-section-wrap{
    padding-top: 150px;
  }

  .h5--news{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

/*news section*/

/*footer*/
.container-footer{
    background-color: #292733;
    min-height: 350px;
}

.p--footer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-footer{
    display: flex;
    width: 100%;
    padding-top:50px ;
    padding-left:50px ;

}

.h3--news{
color: #F1F3F4;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 111%;
text-align: left;
}

.containter-footer-col1{
    width: 40%;
    padding-right: 150px;
}

.containter-footer-col2{
    width: 20%;
}

.containter-footer-col3{
    width: 20%;
}

.containter-footer-col4{
    width: 20%;
}

.h4--footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #888888;;
    padding-left: 0px;
    padding-top:15px;
    padding-bottom:15px;
    }


    .container-footer-wrap{
        max-width: 1200px;
        margin:auto;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }


    .final-foot{
        width: 100%;
        display: flex;
        background-color: #17161D;
        min-height: 125px;
    }

    .final-foot__col1{
        width: 50%;
    }

    .final-foot__col2{
        width: 50%;
    }


    .final-foot__col1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .final-foot__col2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/*footer*/